<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>TextUtils</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href='/' class="navbar-brand "><svg width="1em" height="1em" style="margin-bottom: 3px;" viewBox="0 0 16 16"
                class="bi bi-textarea-t" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M14 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                <path fill-rule="evenodd"
                    d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v4h-1v-4A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v4h-1v-4zm1 7v4a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-4h1v4A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5v-4h1z" />
                <path
                    d="M11.434 4H4.566L4.5 5.994h.386c.21-1.252.612-1.446 2.173-1.495l.343-.011v6.343c0 .537-.116.665-1.049.748V12h3.294v-.421c-.938-.083-1.054-.21-1.054-.748V4.488l.348.01c1.56.05 1.963.244 2.173 1.496h.386L11.434 4z" />
            </svg> Text Utils </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Welcome To Text Analizer..!</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action='/analyze' method='get' style="margin-left:150px">
        <div class="form-group" style="margin: 10em; margin-top: 45px;">
            <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
            <h2>Enter your Text Below.</h2>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"
                style="margin-top: 0px; margin-bottom: 0px; height: 200px; width: 800px; ">
            </textarea>
            <div class="custom-control custom-switch" style="margin-top: 10px;">
                <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Remove Punctiotion</label><br>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox"  name="fullcap" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">Uppercase</label><br>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox"   name="newlineremover" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">New line remover</label><br>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox"  name="extraspaceremover" class="custom-control-input" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch4">Extra Space Remover</label><br>
            </div>
            <!-- <input type="checkbox" name="removepunc">Remove Punctiotion<br>
            <input type="checkbox" name="fullcap">Uppercase<br>
            <input type="checkbox" name="newlineremover">New line remover<br>
            <input type="checkbox" name="extraspaceremover">Extra Space Remover<br> -->

            <!-- <button type="submit" style="border:none; border-radius:5px; color:grey">Analize Text</button> -->
            <button type="submit"  style=" border-radius:5px ; margin-top: 7px;" class="btn btn-outline-primary">Analize Text</button>
        </div>
    </form>

    <!-- fotter -->

    <footer style="position: fixed; bottom:0">
        <p style="margin-left: 35em;">
            © Copyright 2020 TextUtils. All Right Reserved
        </p>
    </footer>








    <!-- optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>